* {
	box-sizing: border-box;
}

.App {
	display: flex;
	width: 100%;
	justify-content: space-around;
	margin: 20px;
}

.App .column {
	margin-right: 1rem;
	border: 1px solid #c9d2ce;
	min-width: 274px;
}

.droppable-col {
	width: 100%;
	min-height: 100px;
	height: auto;
	padding: 10px 10px 0 10px;
	display: flex;
	flex-direction: column;
}

.item.dragging {
	opacity: 0.4;
}


