* {
	box-sizing: border-box;
}

.App {
	display: flex;
	width: 100%;
	justify-content: space-around;
	margin: 20px;
}

.App .column {
	position: relative;
	margin-right: 1rem;
	border: 1px solid #c9d2ce;
	min-width: 274px;
	min-height: 45vh;
	/* height: fit-content; */
}

.droppable-col {
	/* width: 100%; */
	/* height: fit-content; */
	min-height: 45%;
	min-width: 45%;
	padding: 10px 10px 0 10px;
	display: flex;
	flex-direction: column;
}

.item.dragging {
	opacity: 0.4;
}


